<div id = "about">

    Hello! <br>
    This website is being hosted under netlify for its frontend, and Heroku for its backend. <br>
    The free tier of Heroku is relatively limited, and thus, upon a certain threshold of user inactivity, the VM instance where the backend is being hosted, falls asleep, until new user requests wake it up. <br>
    Because of that, user experience may slightly suffer from inconviniences. However, once the VM instance boots up, everything will resume to work as usual.

</div>