<!-- <div id = "menu">

    <div id = "menuOptions">

        <div id = "option">

            <button id = "menuButtonSelected" (click)="home()">Home</button>
    
        </div>
    
        <div id = "option">
    
            <button id = "menuButton">Statistics</button>
    
        </div>
    
        <div id = "option">
    
            <button id = "menuButton">Actions</button>
    
        </div>
    
        <div id = "option">
    
            <button id = "menuButton">Actions</button>
    
        </div>
    
        <div id = "option">
    
            <button id = "menuButton">Actions</button>
    
        </div>

    </div>

</div> -->
